<h1>Sobre</h1>

<div class="left">
    <figure>
        <img src="../../assets/i.jpg" />
    </figure>
</div>
<div class="right">
     <p>
        Desenvolvendo software desde 2015, eu comecei minha jornada no mundo da tecnologia
        depois de alguns anos estudando Filosofia na UFRGS. Não concluí o curso, entretanto, mantive a mentalidade
        questionadora e a postura desafiadora do senso comum e do pensamento ordinário.
        Atualmente, estou estudando design de Experiência do Usuário com previsão de formatura no próximo ano!
        Aprendi muito sobre técnicas, métodos e ferramentas durante essa pós-graduação em UX (Experiência do Usuário).
        Pessoalmente, gosto de literatura na língua inglesa, jogos tradicionais e sustentabilidade.
        Tenho interesse por assuntos relacionados a religiosidade, sociologia e tecnologia.
        Sou uma pessoa apaixonada pela música desde criança e ela sempre me acompanhou no decorrer dos anos como
        uma insperável companheira.
        Desejo contribuir da forma que estiver ao meu alcance para um mundo mais consciente no uso de recursos
        naturais.
        Eu também gosto de escrever, principalmente músicas, de vez em quando.
    </p>
</div>
