.content {
    font-family: 'Open Sans', sans-serif;
    min-height: 500px;
    margin: 15px 15px;
    line-height: 30px;
    h1 {
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }
}
@media only screen and (max-width: 600px) {
   .content {
        min-height:0;
   } 
}